@import url("https://cdn.jsdelivr.net/npm/the-new-css-reset/css/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,100&display=swap');

html, body {
  background: transparent;  
  font-family: Montserrat, Helvetica, Arial, Noto Sans, sans-serif;
  font-weight: 100;
}

body {
  max-width: 80rem;
  margin: auto;
}

a { 
  font-weight: 400;
  text-decoration: underline;
}

b {
  font-weight: 400;
}

i {
  font-style: italic;
}

h1 {
  font-size: 7.438rem;
}

h2 {
  font-size: 5.563rem;
}

h3 {
  font-size: 4.188rem;
}

h4 {
  font-size: 3.125rem;
}

h5 {
  font-size: 2.313rem;
}

h6 {
  font-size: 1.75rem;
}
