@import url("https://cdn.jsdelivr.net/npm/the-new-css-reset/css/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100&display=swap');

html, body {
  background: transparent;  
  font-family: Montserrat, Helvetica, Arial, Noto Sans, sans-serif;
  font-weight: 100;
}

b {
  font-weight: 400;
}

i {
  font-style: italic;
}
